@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

input, select, textarea{
    height: 45px !important;
    border: 1px solid #b9b9b9;
}

input:focus, select:focus, textarea:focus{
    outline: none !important;
    border: 2px solid #0f0505;
    box-shadow: none !important;
}

button:focus{
    outline: none !important;
    border: 2px solid #0f0505;
    box-shadow: none !important;
}

button{
    height: 45px !important;
}

table{
    border: rgb(20, 14, 54) solid !important;
    border-radius: 10px !important;
}